.radio-buttons {
  display: flex;
}

.radio-select-group {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkmark {
  width: 33px;
  height: 25px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #949494;
  color: #f2f2f2;
  cursor: pointer;
}

.checkmark span {
  margin-left: 6px;
}

.radio-button input:checked ~ .checkmark {
  border: 2px solid #ce6324;
  color: #ce6324;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-button input:checked ~ .checkmark:after {
  display: block;
}

.radio-button input:checked ~ .dropdown-select {
  display: block;
}

.radio-button input:checked + .datetimepicker.flex.has-validate-button {
  display: block;
}

.radio-button input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.dropdown-select {
  width: 50px;
  background-color: #fff;
  position: absolute;
  transform: translate(0px,-30px);
  display: none;
  font-size: 15px;
  cursor: pointer;
}


.dropdown-select p {
  color: #ce6324;
  padding: 5px;
  margin: 0;
}

.dropdown-select p:hover {
  background-color: #eee;
}

body {
  background-color: #333;
  color: #fff;
}

.multiselect__tags {
  min-height: 25px;
  background-color: #333;
  color: #eee;
}

.multiselect__select {
  height: 24px;
}

.selection-count {
  transform: translateY(-5px);
}


.multiselect__input::-webkit-input-placeholder {
  color:#fff;
}

.multiselect__input::-moz-placeholder {
  color:#fff;
}

.multiselect__input::-ms-placeholder {
  color:#fff;
}

.multiselect__input::placeholder {
  color:#fff;
}

.multiselect__tags:focus {
  color: #fff;
}

.multiselect__tags:active {
  color: #fff;
}

.multiselect__input, .multiselect__single {
  background-color: #333;
}

.multiselect__input {
  color: #fff;
}

.multiselect__single {
  font-size: 13px;
}

#number-select, #other_calendar {
  width: 25px;
  height: 25px;
}

.ctk-date-time-picker {
  display: none;
  transform: translateY(-60px);
}